.webGrid{
        margin: 4px;
        border-collapse:collapse;
        width: 700px;
        font-family: Tahoma;
}
.grid-header
{
        background-color: #990000;
        font-weight: bold;
        color: white !important;
}
.webGrid th a
{
    color:white;
    text-decoration: none;
}
.webGrid th, .webGrid td
{
    border:1px solid black;
    padding: 5px;
}
.alt
{
    background-color: #F4EFEF;
}
.webGrid th a:hover
{
    text-decoration:underline;
}
.to-the-right
{
    text-align: right;
}